<ion-header>
	  <ion-navbar>
	    <ion-title>
	    	交流
	    </ion-title>
	  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  	<ion-item *ngFor="let chatItem of items">
      <ion-card class="card-talking" *ngFor="let com of items" on-hold="holdMore($event)">
        <ion-card-content class="card-content-talking">
          <p><b>{{ com.username }}</b>: {{ com.userTitle }}
            <label>{{ com.commentIndex }}</label>
            <label>{{ com.userIndex }}</label></p> 
            <hr>
            <p>
          fdhskjfhjkdshfghdsssssssssssssssssssssssssssssssssssskjvnfdmbvjfdhsiuyurewahfkjhdsjkaulahchdjsklancdjchjuhjdjoi
          {{ com.content }}</p>
         </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>