culture-page{
    padding: 20% 0;
}

.topClass {
    padding: 20% 0;
}

.hidden {
    display: none;
}
.shoe {
    display: block;
}
.card-culture {
    position: relative;
    height: 200px;
    width: 80%;
    margin: 5% 10%;
}

.card-title-culture {
    position: absolute;
    top: 3%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
}

.card-subtitle-culture {
    font-size: 1.0em;
    position: absolute;
    top: 35%;
    width: 100%;
    color: #000;
}
